.vs/
.idea/
.vscode/
obj/
bin/
artifacts/
wwwroot/
node_modules/
*.user
.pnpm-debug.log

## ASP.NET Core and Orchard Core specifics

App_Data/
*.user
*.patch
*.hg
build/
/buildazure
/buildtasks
/artifacts
site/
*.sln.cache
log.xml
profiling/
*.orig
.vs/
.build/
.testPublish/
