.vs/
.idea/
.vscode/
obj/
bin/
artifacts/
node_modules/
*.user
.pnpm-debug.log
src/*/wwwroot/is-cache
*.placeholder
App_Data/
*.user
*.patch
*.hg
build/
/buildazure
/buildtasks
/artifacts
site/
*.sln.cache
log.xml
profiling/
*.orig
.vs/
.build/
.testPublish/

src/*.Web/Localization