{% zone "Header" %}

<p>This is a template rendered from your custom theme. Once deployed to the Media Theme, it'll be hosted from there.</p>
<p>Below is an image also stored in the theme's wwwroot folder. Note that the URL of the image starts with <code>/mediatheme</code>.
    Once it's deployed to the Media Theme, the URL can stay the same, but it'll be served from the Media Library.</p>
<img src="/mediatheme/example-local.png" alt="example local" />

<p>Now let's render a shape that's actually coming from the Media Theme.</p>

{{ "Example" | shape_new | shape_render }}

{% endzone %}
