<!DOCTYPE html>
<html lang="{{ Culture.Name }}" data-theme="{{ Site.Properties.ThemeSettings.ThemeSettings.ThemeVariation.Text }}">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{{ "PageTitle" | shape_new | shape_stringify }}</title> 
        {% link type:"image/x-icon", rel:"shortcut icon", href:"~/TheClassLessTheme/favicon.ico" %}
        <!-- 
        <link rel="stylesheet" href="https://unpkg.com/awsm.css/dist/awsm.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/holiday.css"/>
        <link rel="stylesheet" href="https://unpkg.com/marx-css/css/marx.min.css">
        <link rel="stylesheet" href="https://unpkg.com/mvp.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/dark.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/light.min.css">
	    <link rel="stylesheet" href="{{ '~/TheClassLessTheme/css/marx.min.css' | href }}">
	    <link rel="stylesheet" href="https://mblode.github.io/marx/stylesheets/all-3e842764.css">"-->
      
        {% if Site.Properties.ThemeSettings.ThemeSettings.UseTinyVersion.Value %}
            {% style name:"classless-tiny", src:"~/TheClassLessTheme/css/classless-tiny.css",
                cdn_src:"https://classless.de/classless-tiny.css" %}
        {% else %}
            {% style name:"classless", src:"~/TheClassLessTheme/css/classless.css",
                cdn_src:"https://classless.de/classless.css" %}
        {% endif %}
            {% style name:"themes", src:"~/TheClassLessTheme/css/themes.css",
                cdn_src:"https://classless.de/addons/themes.css" %}

	  {% resources type: "Meta" %}
	  {% resources type: "HeadLink" %}
	  {% resources type: "Stylesheet" %}
	  {% resources type: "HeadScript" %}
	  {% render_section "HeadMeta", required: false %}
  </head>
    <body>
        {% shape "menu", alias: "alias:main-menu", cache_id: "main-menu", cache_duration: "00:05:00", cache_tag: "alias:main-menu" %}
        <main>
            <div id="top" class="page" role="document">
            {% render_section "Navigation", required: false %}
                    {% render_body %}
                {% render_section "Footer", required: false %}
                {% resources type: "FootScript" %}
            </div>
        </main>
    </body>
</html>

